<div
  class="h-screen flex flex-col justify-center items-center page-container flex-wrap relative"
  (mousemove)="onMousemove($event)"
  [ngClass]="{ 'gradient-rainbow': isTooFast }"
>
  <div
    class="alert w-full relative text-center text-gray-300 text-7xl font-bold"
    [ngClass]="{ invisible: !isTooFast }"
  >
    <span style="--i: 0">S</span>
    <span style="--i: 1">L</span>
    <span style="--i: 2">O</span>
    <span style="--i: 3">W</span>
    <span style="--i: 4">&nbsp;</span>
    <span style="--i: 5">D</span>
    <span style="--i: 6">O</span>
    <span style="--i: 7">W</span>
    <span style="--i: 8">N</span>
    <span style="--i: 9">&nbsp;</span>
    <span style="--i: 10">B</span>
    <span style="--i: 11">R</span>
    <span style="--i: 12">O</span>
  </div>

  <div class="face w-[300px] h-[300px]" [ngClass]="{ 'too-fast': isTooFast }">
    <div class="eyes">
      <div #eye class="eye"></div>
      <div #eye class="eye"></div>
    </div>
  </div>
</div>
<!-- [ngClass]="{ 'gradient-rainbow': mouseMovements.length >= maxtimeMove }" -->
